@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  html, body {
    @apply h-full w-full overflow-hidden;
  }

  body {
    @apply relative m-0 bg-background text-foreground;
  }

  #root {
    @apply h-full w-full;
  }
}

body::before {
  content: "";
  background-color: #BBCB79;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 256px 224px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
